<%= form_for(@article) do |f| %>
<div>
  <%= f.label :title %>
</div>
<div>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :content %>
</div>
<div>
  <%= f.text_area :content %>
</div>
<%= f.submit %>
<% end %>

<%= link_to("Cancel", articles_path) %>

<!-- <%= javascript_tag do %>
$(document).ready(function() {
  editor = ace.edit('article_content');
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/javascript");
  });
<% end %> -->
