
<div class="container" style="text-align:center;">
<%= raw Kramdown::Document.new(@article.title).to_html %>
<p><%= @article.content %></p>

<%= link_to("Edit", edit_article_path) %>
<%= link_to("Back", articles_path) %>
<%= link_to "Delete", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
</div>
